input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

p {
    font-weight: 100;
}

body {
    font-family: 'Sen', sans-serif;
    background-color: #f7f7f7;
    ;
}

.cta-button {
    background-color: #008A69;
    color: white;
    font-size: 14px;
}

.jumbotron-landing {
    background-image: url('../images/landing.png');
    color: white;
}

.jumbotron-terms {
    background-color: #006554;
    color: white;
}

.home-location {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: rgb(207, 207, 207);
    background-color: transparent;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #006554;
}

ul li:not(.top) {
    font-weight: 100;
}

.nav-pills .nav-item a {
    text-decoration: none;
    color: grey;
    font-weight: lighter;
}

footer {
    background-color: black;
    color: white;
}

footer .top {
    font-weight: 700;
}

.circle {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: red;
}


/* hr {
    border: 0.5px white solid;
    opacity: 0.1;
} */